
Ch6 텍스트 분석과 챗봇 만들기/toji.model
Ch6 텍스트 분석과 챗봇 만들기/wiki.model
Ch6 텍스트 분석과 챗봇 만들기/wiki.model.syn1neg.npy
Ch6 텍스트 분석과 챗봇 만들기/wiki.model.wv.syn0.npy
Ch6 텍스트 분석과 챗봇 만들기/wiki.txt
Ch6 텍스트 분석과 챗봇 만들기/wiki.wakati
Ch6 텍스트 분석과 챗봇 만들기/wiki2.model.syn1neg.npy
Ch6 텍스트 분석과 챗봇 만들기/wiki2.model.wv.syn0.npy
